<h1>Users homepage</h1>
<ul>
  <li><a href="/users/profile/1">User 1</a></li>
  <li><a href="/users/profile/2">User 2</a></li>
  /.../
</ul>

<!-- profile.hbs -->
<h1>User profile</h1>
<p>User ID: {{id}}</p>
<p>User name: {{name}}</p>
